@using DDDComTestes.Infraestrutura.Web.Models;
@model IEnumerable<PessoaModel>
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Pessoas";
}
<div class="container">
  <h1>Pessoas</h1>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>CPF</th>
      </tr>
    </thead>
    <tbody>
      @foreach (PessoaModel pessoaModel in Model)
      {
        <tr>
          <td>@pessoaModel.ID</td>
          <td>@pessoaModel.Nome</td>
          <td>@pessoaModel.Idade</td>
          <td>@pessoaModel.CPF</td>
        </tr>
      }
    </tbody>
  </table>
</div>
