@model dynamic
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Pessoas";
}
<div class="container">
    <h1>Pessoas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Nome 1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Nome 2</td>
            </tr>
        </tbody>
    </table>
</div>
